<div class="page-wrapper">
  <div class="grid">

    <div class="row">

      <div class="col-xs-12">
        <div class="page-title">
          <h3>Listes de valeurs</h3>
          <div class="page-title-sub"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="card full-height">
            <div class="card-title">Liste</div>
            <div class="card-content">
              <div class="list-container">
                <div class="list-group h-75 d-inline-block">
                  <% @stocks.each do |stock| %>
                  <%= link_to "#{stock.name}", stocks_path(id: "#{stock.id}"), class: "list-group-item list-group-item-action" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="card full-height">
            <div class="card-title">Valeur</div>
            <div class="card-content">
              <% if @stock.nil? %>
              <div class="col-xs-12">
                <div class="card-row-header">
                  <div style="font-weight: bold">Pas de valeur selectionnée</div>
                </div>
              </div>
              <% else %>
              <%= render "stocks/show", stock: @stock, stock_rating_new: @stock_rating_new %>
              <% end %>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
