.avatar-initials {
  margin: 0px 10px;
  background-color: $light-gray;
  border: 1px solid $gray;
  color: $gray;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
