
.page-title{
  color: $dark-blue;
  margin-top: 5px;
  margin-bottom: 20px;

  h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .page-title-sub {
    font-size: 10px;
    margin-bottom: 5px;
    color: $dark-blue;
    align-items: center;
  }

  .fas {
    color: $dark-blue;
  }
}


.row {
  margin-right: 0;
  margin-left: 0;
}

.card{
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07), 0 1px 0 0 rgba(0,0,0,0.03);
  //font-size: 10px;
  color: $dark-blue;
  background-color: white;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

.card-row {
  border-bottom: 1px solid rgba(220,224,244,0.4);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.card-row-header {
  font-size: 14px;
  font-weight: bold;
}


.card-row-header-title {
  background-color: $dark-blue;
  color: white;
  text-align: center;
  padding: 5px;
}
.card-row-cell {
  text-align: center;
}

.card-row-cell.grey {
  border: 1px solid rgba(220,224,244,0.4);
}




.full-height{
    height: calc(100vh - 100px);
    overflow: scroll;
  }

.card-title{
  font-size: 12px;
  color: $dark-blue;
  border-bottom: 2px solid $light-blue;
  margin-bottom: 20px;
}


.card-content {
   font-size: 10px;
   padding: 5px;
}
