.form-wrapper {
  margin: 5px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}

.form-control {
  border-radius: 20px;
}

.form-group {
  margin: 5px;
}

.form-required { display: none; }

.form-inline-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-control-label {
  width: 80px;
}

.form-control-custom {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  font-size: 12px;
}

.form-icon {
  font-size: 20px;
  margin-left: 10px;
}

.form-group-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-check {
  display: inline;
  margin-right: 10px;
}

.col-form-label{
  margin: 0px;
  border: none;
}


.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.from-group-btns{
  display: flex;
}

.form-group-column {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  font-size: 12px;
  display: block;
  //padding: 5px 0;
  //align-items: center;
}
